# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
*.csv
*.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
strategy_performance*.json
trade_summary*.csv
trading_bot_*.log 